#main-nav .container .navbar-brand {
  /* margin-top: 15px;
  margin-bottom: 10px; */
  /* font-size: 20px;
  line-height: 20px; */
}
#main-nav .container .navbar-nav {
  margin: 0 -20px;
  margin-right: 50px;
}
#main-nav .container .in>.nav>li {
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
#main-nav .container .in>.nav>li>a {
  /* font-size: 13px;
  line-height: 13px; */
}

#main-nav .container .navbar-toggle {
}
#main-nav .container .navbar-toggle .icon-bar {
  height: 2px;
}
.content{
  margin: 0;
}
.page .entry h1, .page .entry h2, .page .entry h3 {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  /* margin: -20px 0; */
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
.page-header .logo {
  display: inline;
  height: auto;
  width: 100px;
  margin: 0;
}
.page-header h1 {
  display: inline;
}
.page .more {
  cursor: pointer;
}
.page .btn {
  webkit-box-shadow: 8px 8px 0 #000;
  box-shadow: 8px 8px 0 #000;
  margin: 0;
  margin-bottom: 8px;

  /* webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
  margin: 0;
  margin-bottom: 8px; */
}
.page .btn:active {
  /* -webkit-box-shadow: #000 0 0 0 0; */
  /* box-shadow: #000 0 0 0 0; */
  /* margin: 10px 0 0 10px; */

  /* -webkit-box-shadow: #000 0 0 0 0;
  box-shadow: #000 0 0 0 0;
  margin: 8px 0 0 8px; */

  -webkit-box-shadow: 8px 8px 0 #000;
  box-shadow: 8px 8px 0 #000;
  margin: 0;
  margin-bottom: 8px;

  outline: #000 none;
  color: #000!important;
  background: #bbb!important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  color: #000!important;
  background-color: #bbb!important;
}